/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}




#header-wrapper {
	height:30px;
	
}

header {
	position:fixed;
	top:0px;
    background-color:white;
	width:100%;
	z-index:100;
}


.work:hover a {
	color:OrangeRed;
	background-color: transparent;
	
}

.info:hover a {
	color:OrangeRed;
	background-color: transparent;
	
}
.mainnav { 
	margin-right:1%;
}

.mainnav ul { 
	margin-right:20px;
	position:absolute;
	right:50px;
	top:60px; 
	height:200px;
}


.mainnav li {
	float:left;  
    display:block;
}

.mainnav:hover ul {  
    display:block; 
}

.mainnav li a {  
    font-family: 'Lato', sans-serif;
	text-align:right;
	text-transform:uppercase; 
	font-weight:bold;
    font-size:17px;  
    color: black;    
    outline:0;  
    text-decoration:none;  
	list-style:none;
	letter-spacing: 1px;
	
}

#projects {
	z-index:1;
	margin-top:12%;
}

#projects article {
	display:inline-block;
}

.proj1 {
	background:#FFF; 
	opacity:0;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.proj1:hover {
		background:#FFF; 
		opacity:1;
		color:chartreuse;
		background-color: transparent;
}
#proj1:hover {
	opacity:0.6;  
	color:#000000;
}

}
.proj2 {
	background:#FFF; 
	opacity:1;
}
#proj2:hover {
	margin:0 auto;
	opacity:0.6;  
	color:#000000; 
}

.proj3 {
	background:#FFF; 
	opacity:0;
}
#proj3:hover {
	margin:0 auto;
	opacity:0.6;  
	color:#000000; 
}

.proj4 {
	background:#FFF; 
	opacity:0;
}
#proj4:hover {
	margin:0 auto;
	opacity:0.6;  
	color:#000000; 
}

.proj5 {
	background:#FFF; 
	opacity:0;
}
#proj5:hover {
	margin:0 auto;
	opacity:0.6;  
	color:#000000; 
}

.proj6 {
	background:#FFF; 
	opacity:0;
}
#proj6:hover {
	margin:0 auto;
	opacity:0.6;  
	color:#000000; 
}

.proj7 {
	background:#FFF; 
	opacity:0;
}
#proj7:hover {
	margin:0 auto;
	opacity:0.6;  
	color:#000000; 
}

.proj8 {
	background:#FFF; 
	opacity:0;
}
#proj8:hover {
	margin:0 auto;
	opacity:0.6;  
	color:#000000; 
}

.proj9 {
	background:#FFF; 
	opacity:0;
}
#proj9:hover {
	margin:0 auto;
	opacity:0.6;  
	color:#000000; 
}


@media screen and (max-width:750px) {
	#contentwrapper{
		width:100%;
	}

	#proj1 img{
		width:100%;
	
	}

	#proj2 img{
		width:100%;

	}

	#proj3 img{
		width:100%;

	}

	#proj4 img{
		width:100%;

	}

	#proj5 img{
		width:100%;

	}

	#proj6 img{
		width:100%;

	}

	#proj7 img{
		width:100%;

	}

	#proj8 img{
		width:100%;

	}

	#proj9 img{
		width:100%;

	}

 }


@media screen and (max-width:500px) {
	
	header {
		position:fixed;
	    background-color:white;
		height:170px;
		z-index:100;
	}
	
	.logo{
		position: absolute;
		left: 50%; 
		margin-left: -100px;
		margin-top: 0px;
		z-index:1;
	}
	
	.work:hover a {
		color:OrangeRed;
		background-color: transparent;
	
	}

	.info:hover a {
		color:OrangeRed;
		background-color: transparent;
	
	}
	.mainnav { 
		margin-right:1%;
	}

	.mainnav ul { 
		margin-right:20px;
		position:absolute;
		right:5px;
		top:20px; 
		height:200px;
	}


	.mainnav li {
		float:left;  
	    display:block;
	}

	.mainnav:hover ul {  
	    display:block; 
	}

	.mainnav li a {  
	    font-family: 'Lato', sans-serif;
		text-align:right;
		text-transform:uppercase; 
		font-weight:bold;
	    font-size:17px;  
	    color: black;    
	    outline:0;  
	    text-decoration:none;  
		list-style:none;
		letter-spacing: 1px;
	
	}

	#proj1 img{
		width:100%;
		float:left;
	
	}

	#proj2 img{
		width:100%;
		float:left;
	}

	#proj3 img{
		width:100%;
		float:left;
	}

	#proj4 img{
		width:100%;
		float:left;
	}

	#proj5 img{
		width:100%;
		float:left;
	}

	#proj6 img{
		width:100%;
		float:left;
	}

	#proj7 img{
		width:100%;
		float:left;
	}

	#proj8 img{
		width:100%;
		float:left;
	}

	#proj9 img{
		width:100%;
		float:left;
	}
}

@media only mobile and (min-device-width:320px) and (max-device-width:480px) {
	
	
	header {
		position:fixed;
	    background-color:white;
		height:170px;
		z-index:100;
	}
	
	.logo{
		position: absolute;
		left: 50%; 
		margin-left: -100px;
		margin-top: 0px;
		z-index:1;
	}
	
	

	#proj1 img{
		width:100%;
		float:left;
	
	}

	#proj2 img{
		width:100%;
		float:left;
	}

	#proj3 img{
		width:100%;
		float:left;
	}

	#proj4 img{
		width:100%;
		float:left;
	}

	#proj5 img{
		width:100%;
		float:left;
	}

	#proj6 img{
		width:100%;
		float:left;
	}

	#proj7 img{
		width:100%;
		float:left;
	}

	#proj8 img{
		width:100%;
		float:left;
	}

	#proj9 img{
		width:100%;
		float:left;
	}
}