/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

#header-wrapper {
	height:30px;
	
}

header {
	position:fixed;
	top:0px;
    background-color:white;
	width:100%;
	z-index:100;
}

.work:hover a {
	color:OrangeRed;
	background-color: transparent;
	
}

.info:hover a {
	color:OrangeRed;
	background-color: transparent;
	
}
.mainnav { float:left;}

.mainnav ul { 
	margin-right:20px;
	position:absolute;
	right:30px;
	top:60px; 
	height:200px;
}


.mainnav li {  
    display:block;
}

.mainnav:hover ul {  
    display:block; 
}

.mainnav li a {  
    font-family: 'Lato', sans-serif;
	text-align:right;
	text-transform:uppercase; 
	font-weight:bold;
    font-size:17px;  
    color: black;    
    outline:0;  
    text-decoration:none;  
	list-style:none;
	letter-spacing: 1px;
}

.mainnav img {
	height:40px;
	margin-right:20px;
	position:absolute;
	right:20px;
	top:20px; 
}

#contentwrapper {
	position:fixed;
	width:25%;
	float:left;
	padding-right:20px;
}

.images {
	margin-top:200px;
	width:70%;
	float:left;
	padding-left:25%;
}

.images:hover {
		margin-top:200px;
		opacity:0.6;  
		color:#000000; 
}

.projecttitle {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-top:200px;
	margin-left:25px;
	font-weight: bold;
	font-size:1.25em;
	text-transform:uppercase;
	letter-spacing:1px;
	color:OrangeRed;
	
}

.projectinfo{
	margin-top:5px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-left:25px;
	margin-bottom:40px;
}

@media screen and (max-width:750px) {
	header {
		position:fixed;
		top:0px;
	    background-color:white;
		width:100%;
		z-index:100;
	}
	
	#contentwrapper{
		width:100%;
	}

.projecttitle {
	
}
	.projectinfo {
		float:left;
	}
	
	.images {
		float:left;
		width:20%;
		margin-top:300px;
	}
	
	#contentwrapper {
		position:fixed;
		float:left;
		padding-right:20px;
		background:white;
		z-index:99;
	}
	
	.images:hover {
			margin-top:300px;
			opacity:0.6;  
			color:#000000; 
	}
	
 }


@media screen and (max-width:500px) {
	
	header {
		position:fixed;
	    background-color:white;
		height:170px;
		z-index:100;
	}
	
	.logo{
		position: absolute;
		left: 50%; 
		margin-left: -100px;
		margin-top: 0px;
		z-index:1;
	}
	
	.work:hover a {
		color:OrangeRed;
		background-color: transparent;
	
	}

	.info:hover a {
		color:OrangeRed;
		background-color: transparent;
	
	}
	.mainnav { 
		margin-right:1%;
	}

	.mainnav ul { 
		margin-right:20px;
		position:absolute;
		right:5px;
		top:20px; 
		height:200px;
	}


	.mainnav li {
		float:left;  
	    display:block;
	}

	.mainnav:hover ul {  
	    display:block; 
	}

	.mainnav li a {  
	    font-family: 'Lato', sans-serif;
		text-align:right;
		text-transform:uppercase; 
		font-weight:bold;
	    font-size:17px;  
	    color: black;    
	    outline:0;  
	    text-decoration:none;  
		list-style:none;
		letter-spacing: 1px;
	
	}

	.projectinfo {
		float:left;
	}
	.images {
		float:left;
		width:20%;
		margin-top:300px;
	}
}