

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*   reset all done  */

body {
	position: relative;
	line-height: 1.5em;
	font-size: 1em;
	margin:0 auto;
	width: 100%;
	font-family: sans-serif;
	background-color:white;
}

#site-header h1 a {
    display:block;
    width:300px; 
    height:80px;  
    background:url(images/logo.png) no-repeat top left; 
    text-indent:-9999px;
	margin-left:250px;
	padding: 20px;
}

header {
	position: relative;
	background-color: lightgoldenrodyellow;
	width: 100%;
}

#main-menu {
	position:absolute;
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
	width:100%;
	text-transform: uppercase;
	text-align: center;
	background-color: saddlebrown;
}

#main-menu ul {
	margin-left:250px;
}

#main-menu li {
    display: inline;
	float:left;
}

#main-menu li a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size:.75em;
	padding:20px;
	font-weight: bold;
}

header #top-nav a {
	color: saddlebrown;
	font-size: 12px;
	text-decoration: none;
	position: absolute;
	right: 100px;
	top: 10px;
	padding:10px;
}

#page {
	line-height:20px;
	float:left;
	padding-top:100px;
	padding-bottom:100px;
	padding-right:100px;
	width:500px;
	margin-left:250px;
}

#page h1 {
	color: saddlebrown;
	font-size:40px;
	text-transform: uppercase;
	padding-bottom: 20px;
}

#page h2 {
	color: saddlebrown;
	font-size:20px;
	text-transform: uppercase;
}

p {
	margin-bottom: 20px;
}

#sidebar {
	float:left;
	height:500px;
	width:200px;
	padding-top:50px;
	padding-bottom:20px;
}

#sidebar h1 {
	color:saddlebrown;
	text-transform:uppercase;
	font-size: small;
	padding-top:50px;
	font-weight: bold;
}

#sidebar li {
	line-height:20px;
}

#sidebar a {
	text-decoration:none;
	padding-bottom:15px;
	color: saddlebrown;
}

#footer-wrapper {
	clear: both;
}

footer {
	color: white;
	background-color: saddlebrown;
	float: left;
	padding-left: 250px;
	padding-top: 20px;
	width: 100%;
}

#footer-contact {
	line-height: 1.5em;
	width: 250px;
}

#footer-contact h1 {
	text-transform:uppercase;
	font-weight: bold;
	color: lightgoldenrodyellow;
	font-size: 20px;
}

#footer-follow {
	color: lightgoldenrodyellow;
	float: right;
	font-size: 20px;
	text-transform:uppercase;
	font-weight: bold;
}

#footer-follow ul li  {
	display: inline-block;
}
	